</div>
<div class="footer-padding"></div>
<div class="footer">
  <%    const year = new Date().getFullYear(); %>

  <footer>
    <p>Made with ❤️ by Aaron Badilla as a part of The App Brewery's Full Stack Development Bootcamp</p>
    <p>***NOTE*** Post data persistence has been deactivated for demo version. Full version includes data persistence through integration with MongoDB Atlas. Check out the code for the full MongoDB integration on GitHub <a href="https://github.com/aaronbadilla/blogwebsite">here</a> </p>
    <p>Copyright ⓒ <%=year%></p>
  </footer>
</div>
</div>
</body>

</html>
